@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Brand
    Street
    Zip
</address>

<address>
    <strong>Support:</strong> <a href="mailto: info@dreif.com "> info@domain.com </a><br />
</address>
